/* src/styles/Layout.css */
.layout-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff; /* default white background */
}

.layout-main {
  flex: 1;
  /*padding: 1rem;*/
  box-sizing: border-box;
}
